@using ClassLibrary1
@model List<Message>

@foreach (var msg in Model)
            {
    <div class="col-md-12 message">
        @(msg.Sender + ": " + msg.Content + " date: " + msg.Date.ToString())
    </div>
}

@section Scripts {
}
