@model List<string>

<div id="contacts" class="col-md-12">
    @foreach (var user in Model)
    {
        <div class="row contact">
            <div class="col-md-12 contactName">@user</div>
        </div>
    }
</div>



